

nav a {
    color: red;
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}


#Background {
    width: 100px;
    height: auto;
}


h1 {
    border: 2px dashed blue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
}

html {
    background: url(http://amusementunlimited.com/wp-content/uploads/2015/05/808483-free-blue-background.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h2 {
    color: blue;
}

p {
    color: blue
}

a {
    color: blue
}

#Position{
     position: absolute;
    top: 300px;
    left: 400px;
}
